div.izquierda{
    margin-top: 20px;
    margin-left: 20%;
    width: 200px;
    display: inline-block;
    vertical-align: top;
    background-color:#21618C;
}
div.derecha{
    margin-top: 20px;
    width: 550px;
    display: inline-block;
    background-color:#943126;
    padding: 2em;
    margin-left: 10px;
}
button.celda{
    height: 35px;
    width: 150px;
    background-color: #2E86C1;
    color: #ffffff;
    border: 0px;
    text-align: center;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    margin-right: 0.3em;
    margin-left: 1.8em;
}
h3{
 color: aliceblue;
 text-align: center;  
 margin-block-start: 0em;
}

#mu2{background-color: #F4D03F;}
#mu3{background-color: #AF7AC5;}
#mu4{background-color: #2980B9;}
#mu5{background-color: #A1887F;}
#mu6{background-color: #FAD7A0;}
#mu7{background-color: #F6DDCC;}
#mu8{background-color: #FFCDD2;}
#mu9{background-color: #D7DBDD;}
#numP{background-color: #2E4053;}
