div.col1{
    padding-left:15%;
}
div.cuadro-perfil-azul{
    margin-top: 50px;
    width: 300px;
    height: 150px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px; 
    background-color: #0EA7E0;
    box-shadow: 0 4px 8px 0 rgba(0, 0,0, 0.2), 0 6px 20px 0 rgba(0, 0,0, 0.19);
}
div.cuadro-perfil-gris{
    width: 300px;
    height: 1000px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #EBEBEB;
    box-shadow: 0 4px 8px 0 rgba(0, 0,0, 0.2), 0 6px 20px 0 rgba(0, 0,0, 0.19);
}
div.cuadro-blanco{
    padding-top: 10px;
    padding-left: 30px;
    border-color: aqua;
    margin-top: 50px;
    width: 560px;
    height: 1150px;
    background-color: #FFFFFF;
}
.centrar{text-align: center;}
div.icon-explab-tam{
    height: 50px;
}
div.contenedor-ht-left{
    margin-top: 15px;
    width: 190px;
    height: 80px;
    background-color:#FFFFFF;
}
div.contenedor-ht-right{
    margin-top: 15px;
    width: 350px;
    height: 80px;
    background-color: #FFFFFF;
}
div.contenedor-espe{
    margin-top: 0px;
    width: 180px;
    height: 80px;
    background-color:#FFFFFF;
}

div.contenedor-fa-tp4,
div.contenedor-fa-tp3,
div.contenedor-fa-tp2,
div.contenedor-fa-tp1,
div.contenedor-fa-tp{
    width: 350px;
    margin-top: 0px;
}
div.contenedor-fa-tp1{
    text-align: center;
}
div.contenedor-fa-tp2{
    margin-top: 10px;
    padding-left: 20px;
    text-align: left;
}
div.contenedor-fa-tp3{
    width: 345px;
    margin-top: 15px;
    text-align: center;
}
div.contenedor-fa-tp4{
    margin-top: 10px;
    padding-left: 20px;
    text-align: left;
}
div.contenedor-fa2,
div.contenedor-fa1,
div.contenedor-fa{
    width: 180px;
    height: 80px;
    text-align: center;
    margin-left: 5px;
    
}
div.contenedor-fa1{
    margin-top: 5px;
}
div.contenedor-fa2{
    margin-top: 20px;
}


div.linea-v{
    height: 95px;
    width: 2px;
    margin-left: -7px;
    margin-top: 28px;
    background-color: #DDDDDD;
}
li.clean-point{
    list-style: none;
}
.margen{
    margin-top:5px;
    margin-bottom: 0px;
}
div.tam-ref{
    margin-left: 5px;
    width: 200px;
    height: 70px;
}
div.color{
    background-color: #0EA7E0;
}
a.pos-text{
    margin-top: 15px;
    margin-left: -65px;
}
